<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Homepage</title>
</head>
<body>
  <div>
    <header>
      <h1>ACTOR </h1>
      <h1><%= @actor_info[0]['name'] %></h1>
      <% @actor_info.each do |actor| %>

      <li><a href='/movies/<%= actor['id'] %>'><%= "#{actor['title']}</a> - #{actor['character']}" %></li>
      <% end %>

    </header>



  </div>
</body>
</html>
